:root {
    --black: #111111;
    --green: #1B5B31;
    --grey: #F5F0EC;
    --white: #FFF;
    --beige: #DCC1AB;
    --accent: #1d6737;
  }

body {
    box-sizing: border-box;
    color: var(--black, #111);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0;
}

a {
    color: var(--grey);
}

.row {
    margin: 0;
}

.selector-for-some-widget {
    box-sizing: border-box;
}

li, ul, body,p, div,h1,h2,h3,h4,h5,h6 {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0;
}
/* header */

header {
    background-color: var(--white);
}
.header-container {
    padding-left: 89px;
}
.header-section{
    font-size: 14px;
    letter-spacing: -0.14px;
    align-items: center;
}
.header-logo{
    padding-left:0;
}

.header-search {
    border: none;
    border-radius: 8px;
    height: 50px;
    background-color: inherit;
}

.header-search:hover{
    fill: var(--grey);
    background-color: var(--accent);
}

.header-littleMenu {
    width: 59px;
    padding: 0;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: baseline;
}
.header-button {
    color: inherit;
    display: flex;
    border-radius: 8px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.header-button:hover {
    color: var(--grey);
    background-color: var(--accent);
}

/* hero */


.hero-info{
    text-align: center;
    padding: 34px 15px 34px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--beige);
    @media screen and (min-width:1200px) {
        text-align: start;
        padding: 0px 64px 0 89px;
    }
}

.hero-thumb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header{
    color: var(--black);
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    max-width: 550px;
    margin-bottom: 44px;
    @media screen and (min-width:1200px) {
        font-size: 60px;
    }
}

.hero-text{
    max-width: 441px;
    margin-bottom: 72px;
}
.hero-buttonContainer {
    width:102%;
}

.hero-contactBtn {
    max-width: 250px;
    height: 50px;
    padding: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--grey);
    border-radius: 200px;
    @media screen and (min-width:1200px) {

        margin-bottom: 0;
     }
}
.hero-contactBtn:hover {
    background-color: var(--accent);
}




.hero-projectsBtn{
    max-width: 250px;
    height: 50px;
    padding-left: 22px;
    padding-right: 18px;
    border-radius: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    fill: var(--green);
    background: linear-gradient(to right, var(--green) 50%, var(--beige) 50%);
    border: 1px solid var(--green);
    color: var(--black);
    transition: background-position .5s, color .5s, fill .5s;
    background-size: 200% 100%;
    background-position: right bottom;
    @media screen and (min-width:1200px) {
       width: 100%;
    }
    /* lolololo */
}

.hero-projectsBtn:hover {
    color: var(--grey);
    fill: var(--grey);
    background-position: left bottom;
}

.hero-projectsBtn>svg{
margin-left: 8px;
}


.hero-slider{
    background-color: var(--beige);
    padding: 0;
    height: 300px;
}
.hero-slider>img{
    height: 100%;
     width: 100%;
}
.carousel-inner {
    position: relative;
    object-fit: fill;
    height: 100%;
}

.hero-sliderBtnContainer{
    width: 192px;
    height: 96px;
    z-index: 1;
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
}
.hero-sliderBtn{
    border:none;
    transition: scale 0.1s ease-in-out;
}

.hero-sliderBtn:hover {
    transform: scale(0.95);
}
.hero-sliderBtn:active {
    background-color: var(--beige);
}

/* offer section */

.offer {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: var(--grey);
    @media screen and (min-width:1200px) {
        padding-top: 120px;
     }
}

.offer-info {
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-infoThumb {
    max-width: 1040px;
    padding: 0 15px 0 15px;
    @media screen and (min-width:1200px) {
        padding: 0;
     }
}

.offer-hook {
    color: var(--green);
    font-size: 12px;
    letter-spacing: -0.12px;
    margin-bottom: 16px;
}

.offer-header {
    color: var(--black);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 500;
    line-height: 115%;
    margin-bottom: 32px;
}

.offer-text {
    max-width: 719px;
}

.offer-card {
    max-width: 378px;
    padding: 48px 40px;
    margin-bottom: 30px;
    background-color: var(--white);
    border-radius: 28px;
    transition: scale 0.1s ease-in-out;
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
     }
}

.offer-card:hover {
    transform: scale(1.1);
}

.offer-cardImage {
    margin-bottom: 32px;
}
.offer-cardHeader {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.4px;
    margin-bottom: 12px;
}

.offer-cardText {
    font-size: 14px;
    line-height: 150%; 
    letter-spacing: -0.14px;
    margin-bottom: 63px;
}

.offer-cardLink {
    max-width: fit-content;
    display: flex;
    align-items: center;
    color: var(--green);
    border-bottom: 1px solid var(--green);
}

.offer-cardLink:hover {
    color: var(--black);
    border-bottom-color: var(--black);
}

.offer-cardLink:hover>svg {
    transform: translateX(5px);
}

.offer-cardLink>svg {
    margin-left: 10px;
}

/* o firmie section */

.oFirmie-hook {
    color: var(--grey);
    font-size: 12px;
    letter-spacing: -0.12px;
    margin-bottom: 16px;
}
.oFirmie-container {
    height: 720px;
}

.oFirmie-row{
    height: 100%;
}

.oFirmie-info {
    padding: 60px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--green);
    @media screen and (min-width:1200px) {
        padding: 0 64px 0 89px;
     }
}

.oFirmie-header {
    color: var(--grey);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 500;
    line-height: 115%;
    margin-bottom: 32px;
}
.oFirmie-text {
    color: var(--grey);
    margin-bottom: 72px;
}

.oFirmie-btn {
    height: 50px;
    padding: 0 18px 0 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    border: 1px solid var(--grey);
    border-radius: 200px;
    color: var(--grey);
}

.oFirmie-btn:hover {
    background-color: var(--accent);
}

.oFirmie-btn:hover>svg {
    transform: translateX(5px);
}

.oFirmie-btn>svg{
    margin-left: 8px;
    fill: var(--grey);
}

/* Implementation section */

.gallery-section {
    
    padding-top: 300px;
    background-color:#DCC1AB;
    @media screen and (min-width:1200px) {
        padding-top: 120px;
    }
}

.gallery-header {
    color: var(--black);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 500;
    line-height: 115%;
    margin-bottom: 48px;
    @media screen and (min-width:1200px) {
        margin-bottom: 96px;
    }
}
.gallery {
   position: relative;
   padding: 0 15px;
   @media screen and (min-width:1200px) {
    padding: 0 0;
}
   
}
.gallery-fog {
    background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
}

.gallery-fog.isOpen{
    background: none;
}

.gallery-button {
    position: absolute;
    bottom: 89.5px;
    left:calc(50% - 60px);
    height: 50px;
    padding: 0 18px 0 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    border: 1px solid var(--black);
    border-radius: 200px;
    color: var(--black);
}

.gallery-button:hover {
    transform: scale(1.1);
}

.gallery-button.hide{
        visibility: hidden;
        position: absolute;
        pointer-events: none;
}

.gallery-button>svg {
    margin-left: 8px;
    fill: var(--black);
}
.button-collapse {
     background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
}

.button-collapse>svg {
    transform: rotate(180deg);
}

.gallery-image {
    width: 100%;
    margin-bottom: 8px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
     }
    
}

.gallery-container {
    height: 1519px;
    overflow: hidden;
}

.gallery-container.isOpen {
    height:100%
}

/* instagram section */

.instagram {
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
}

.instagram-container {
    max-width: 1040px;
    height: 100%;
    padding: 60px 15px 60px 15px;
    background-color: var(--green);
    color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: normal;
    @media screen and (min-width:1200px) {
        padding: 0 97px 0 97px;
        height: 358px;
        flex-direction: row;
        align-items: center;
     }
}

.instagram-header {
    width: 100%;
    font-family: 'Montserrat';
    font-size: 32px;
    
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2px;
    margin-right: 64px;
    margin-bottom: 16px;
    color: var(--grey);
    @media screen and (min-width:1200px) {
        font-size: 40px;
        margin-bottom: 0;
     }
}
.instagram-header>span {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
}

.instagram-text {
    margin-bottom: 24px;
}

.instagram-link {
    height: 50px;
    max-width: 124px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    color: var(--green);
    border-radius: 200px;
}
.instagram-link:hover {
    transform: scale(1.1);
    background-color: var(--white);
}

/* footer */

.footer {
    padding: 60px 0 60px 0;
    background-color: var(--black);
    color: var(--grey);
    @media screen and (min-width:1200px) {
        padding: 80px 0 80px 0;
     }
}

.footer-upthumb {
    
    border-bottom: 1px solid var(--grey);
    @media screen and (min-width:1200px) {
        height: 112px;
     }
}

.footer-linkThumb {
    margin: 30px 0 60px 0;
    @media screen and (min-width:1200px) {
        margin: 62px 0 120px 0;
     }
}

.footer-link {
     position: relative;     
}

.footer-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transition: width .3s;
}

.footer-link:hover::after {
    width: 100%;
}

.footer-awake {
    padding-top: 24px;
    padding-bottom: 24px;
    @media screen and (min-width:1200px) {
        padding-top: 0;
    padding-bottom: 0;
     }
}

.footer-adRespect {
    display: flex;
    align-items: center;
}

.footer-adRespect>svg {
    margin-left: 16px;
}

/* drop menu */

.offcanvas-body {

    font-size: 40px;
    height: 70%;

}

.dropdown-toggle {
    height: 50px;
    background-color: var(--white);
    border-radius: 8px;
    border:none;
    padding: 0 6px;
}

.dropdown-toggle:hover {
    color: var(--grey);
    background-color: var(--accent);
}

.dropdown-toggle.show {
    color: var(--grey);
    border-radius: 8px;
    background-color: var(--accent);
}


.header-search.show {
    fill: var(--grey);
    border-radius: 8px;
    background-color: var(--green);
}

.dropdown-toggle::after {

    margin-left: -1px;
}


.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover {
    color: var(--grey);
    background-color: var(--accent);
}

.offcanvasCloseJs{
    padding-left: 0;
    padding-right: 0;
}

.offcanvasCloseJs:hover {
    fill: var(--grey);
    background-color: var(--accent);
}


/* 
.offcanvas-dropdown {
    background-color: var(--green);
} */






.col-sm-4>img:not(:last-child){
    margin-bottom: 42px;
}

.order-1{
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width:1200px) {
        padding-right: 29px;
    }
}
.order-2{
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width:1200px) {
        padding-left: 14px;
        padding-right: 14px;
    }
}
.order-3{
    padding-right: 0;
    padding-left: 0;
    @media screen and (min-width:1200px) {
        padding-left: 29px;
    }
}



