body {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: border-box;
}

li, ul, body, div {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    padding: 0;
}
.gallery{
    background-color:#DCC1AB;
}
.row {
    margin: 0;
}

.col-sm-4>img:not(:last-child){
    margin-bottom: 42px;
}

.order-1{
    padding-left: 0;
    padding-right: 29px;
}
.order-2{
    padding-left: 14px;
    padding-right: 14px;
}
.order-3{
    padding-right: 0;
    padding-left: 29px;
}

@media (min-width: 1460px){
    .container {
        max-width: 1440px;
    }
}

